@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Sofia+Sans+Extra+Condensed:ital,wght@1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway&family=Sofia+Sans+Extra+Condensed:ital,wght@1,100&display=swap');

.class {
    font-family: 'Montserrat',
        sans-serif;
    font-family: 'Raleway',
        sans-serif;
    font-family: 'Sofia Sans Extra Condensed',
        sans-serif;
}